camera_api:
  host: "${API_HOST:0.0.0.0}"
  port: "${API_PORT:8083}"

pipeline:
  name: multi-branch-tee-pipeline
  branches:
    recognition: apps/face/config.yaml
    detection: apps/detection/config.yaml
    # plate_recognition: apps/plate/config.yaml